* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
  font-family: Century Gothic, sans-serif;
}

li {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

i {
  color: rgb(243, 115, 33);
}

.wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
}

.main {
  width: 1320px;
  background-color: rgb(40, 40, 40);
}

.header {
  position: fixed;
  width: 1320px;
  text-align: center;
  line-height: 70px;
  display: flex;
  background-color: rgb(42, 152, 185);
  z-index: 2;
}

.logo {
  width: 300px;
  font-size: 25px;
}

.nav {
  width: 700px;
}

.nav > ul {
  display: flex;
}

.nav > ul > li {
  width: 100px;
}

.nav > ul > li > a {
  position: relative;
  cursor: pointer;
}

.nav > ul > li > a:hover {
  color: rgb(243, 115, 33);
  transition: 0.4s;
}

.nav > ul > li > a::after {
  position: absolute;
  content: "";
  top: 41px;
  left: 0;
  width: 0;
  height: 4px;
  background-color: rgb(243, 115, 33);
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.35s ease;
  overflow: hidden;
}

.nav > ul > li > a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  width: 100%;
}

.login {
  width: 320px;
  font-size: 14px;
  font-weight: 700;
}

.login a {
  padding-left: 10px;
  cursor: pointer;
}

.login a:hover {
  color: #3a3a3a;
}

.imgslide {
  width: 1320px;
  height: 600px;
  padding-top: 70px;
  overflow: hidden;
}

.imgsld {
  position: relative;
  width: 6600px;
  height: 530px;
  display: flex;
  animation: imgsld infinite linear 10s;
}

.imgsld > div {
  position: relative;
  width: 1320px;
  height: 530px;
}

.imgsld > div > img {
  width: 1320px;
  height: 530px;
}

.t1 {
  position: absolute;
  top: 210px;
  left: 20px;
  width: 350px;
  opacity: 0.8;
}

.t1:hover {
  color: rgb(243, 115, 33);
  transition: all 0.4s;
  opacity: 1;
}

.t2 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -200px;
  font-size: 19px;
  width: 400px;
  height: 50px;
  text-align: center;
}

.t2:hover {
  transform: scale(1.4);
  transition: 0.4s;
}

.t3 {
  position: absolute;
  top: 210px;
  right: 0;
  font-size: 25px;
  width: 450px;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 10px;
}

.t3:hover {
  background-color: rgba(0, 0, 0, 1);
  transition: 1s;
}

.t4 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -250px;
  width: 500px;
  height: 50px;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@keyframes imgsld {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

.info {
  width: 1320px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 1200px;
  height: 400px;
  display: flex;
}


.cont1 {
  width: 580px;
  height: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.cont1 > div {
  position: relative;
  width: 580px;
  height: 400px;
  overflow: hidden;
}

.cont1 > div::before {
  position: absolute;
  content: "Skills baseball park";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0;
  text-align: center;
  line-height: 400px;
  font-size: 20px;
}

.cont1 > div:hover::before {
  opacity: 0.7;
  transition: 0.3s;
}

.cont1 > div > img {
  width: 580px;
  height: 400px;
}

.cont2 {
  position: relative;
  width: 600px;
  height: 400px;
  padding-left: 20px;
}

.cont2 strong {
  position: absolute;
  top: 120px;
  font-size: 25px;
}

.cont2 h4 {
  position: absolute;
  top: 210px;
  font-size: 14px;
  font-weight: 200;
}

.inbtn {
  position: absolute;
  top: 280px;
}

.inbtn button {
  position: relative;
  width: 100px;
  line-height: 30px;
  border: 1px solid #d3d3d3;
  border-radius: 9px;
  background-color: inherit;
  overflow: hidden;
  color: white;
  font-weight: 700;
  cursor: pointer;
  z-index: 1;
}

.inbtn button:hover {
  border-color: rgb(243, 115, 33);
}

.inbtn button::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgb(243, 115, 33);
  transition: 0.3s;
  z-index: -1;
}

.inbtn button:hover::after {
  left: 0;
  width: 100%;
}

.inbtn button > a {
  cursor: pointer;
}

.calendar {
  width: 1320px;
  height: 800px;
  border-top: 1px solid gray;
}

.daily {
  width: 100%;
}

.year {
  text-align: center;
  line-height: 70px;
}

.gamesc {
  width: 300px;
  margin-left: 510px;
  text-align: center;
  line-height: 35px;
  border: none;
  border-radius: 20px;
  background-color: rgb(243, 115, 33);
  overflow: hidden;
}

.gamesc:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.gsld {
  position: relative;
  width: 1200px;
  display: flex;
  animation: gamesc infinite linear 6s;
}

.gsld > p {
  width: 300px;
}

@keyframes gamesc {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.cale {
  width: 1320px;
  height: 595px;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  font-size: 25px;
  color: rgb(243, 115, 33);
}

th {
  border: 2px solid white;
  font-weight: bold;
  text-align: center;
  height: 50px;
}

td {
  border: 2px solid white;
  width: 100px;
  height: 100px;
  padding: 3px;
  vertical-align: top;
  cursor: pointer;
}

td:hover {
  background-color: rgba(42, 152, 185, 0.5);
}

.modal {
  color: lightblue;
  cursor: pointer;
}

.mbtn {
  cursor: pointer;
  padding-right: 70px;
  padding-bottom: 62px;
}

.hidden {
  display: none;
  visibility: hidden;
}

.molab {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  overflow: hidden;
  visibility: collapse;
  transform: scale(0);
  transition: all 0.2s ease-out;
}

.mob {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -70px;
  margin-left: -150px;
  border: none;
  border-radius: 9px;
  width: 300px;
  height: 140px;
  background-color: white;
  overflow: hidden;
}

.closer {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  text-align: center;
  line-height: 26px;
  background-color: black;
  font-size: 14px;
  color: white;
  border-bottom-left-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

.mt {
  width: 100%;
  text-align: center;
  line-height: 140px;
  color: black;
  font-size: 19px;
}

input#modal:checked ~ .molab {
  visibility: visible;
  transform: scale(1);
  transition: all 0.2s ease-out;
}

.rank {
  width: 1320px;
  height: 700px;
  border-top: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ranb {
  width: 1200px;
  height: 500px;
  background-color: aliceblue;
  display: flex;
}

.ranb1 {
  width: 600px;
}

.ranh {
  width: 100%;
  text-align: center;
  line-height: 70px;
  background-color: rgb(33, 119, 145);
  display: flex;
}

.rbtn {
  padding: 5px 15px;
  font-weight: 700;
  border: 2px solid white;
  border-radius: 20px;
  cursor: pointer;
}

.rbtn:hover {
  border-color: gray;
  background-color: rgb(40, 40, 40);
}

.ranh1 {
  width: 200px;
}

.ranh2 {
  width: 200px;
}

.ranh3 {
  width: 200px;
}

.select {
  width: 100%;
  text-align: center;
  line-height: 60px;
  display: flex;
}

.sbn {
  color: black;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 15px;
  border: 2px solid gray;
  border-radius: 25px;
  cursor: pointer;
}

.sbn:hover {
  background-color: #afafaf;
}

.select1 {
  width: 200px;
  display: flex;
  justify-content: center;
  visibility: hidden;
}

.select1-1 {
  width: 80px;
}

.select1-2 {
  width: 80px;
}

.select2 {
  width: 200px;
  display: flex;
  justify-content: center;
  visibility: hidden;
}

.select2-1 {
  width: 80px;
}

.select2-2 {
  width: 80px;
}

.select3 {
  width: 200px;
  display: flex;
  justify-content: center;
  visibility: hidden;
}

.select3-1 {
  width: 80px;
}

.select3-2 {
  width: 80px;
}

.list {
  width: 600px;
  height: 370px;
  display: flex;
}

.list1 {
  width: 200px;
  display: flex;
}

.list1-1 {
  width: 100px;
  visibility: hidden;
}
.list1-2 {
  width: 100px;
  visibility: hidden;
}

.list2 {
  width: 200px;
  display: flex;
}

.list2-1 {
  width: 100px;
  visibility: hidden;
}
.list2-2 {
  width: 100px;
  visibility: hidden;
}

.list3 {
  width: 200px;
  display: flex;
}

.list3-1 {
  width: 100px;
  visibility: hidden;
}
.list3-2 {
  width: 100px;
  visibility: hidden;
}

.rlist {
  text-align: center;
  line-height: 45px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  color: black;
}

.rlist > p {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

input#night:checked ~ .select1,
input#week:checked ~ .select2,
input#dawn:checked ~ .select3 {
  visibility: visible;
}

input#pitch:checked ~ .list1-1,
input#hitter:checked ~ .list1-2,
input#pitch2:checked ~ .list2-1,
input#hitter2:checked ~ .list2-2,
input#pitch3:checked ~ .list3-1,
input#hitter3:checked ~ .list3-2 {
  visibility: visible;
}

.ranb2 {
  width: 600px;
}

.accordion {
  margin-left: 40px;
  width: 100%;
  text-align: left;
  line-height: 70px;
  background-color: rgb(33, 119, 145);
}

.accmenu {
  width: 600px;
  height: 0;
  background-color: rgb(33, 119, 145);
  visibility: hidden;
  transition: all 0.4s ease;
  display: flex;
}

.accmenu > div {
  width: 100px;
  text-align: center;
  line-height: 69px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  visibility: hidden;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.4s ease;
}

.accmenu > div > p {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

input#acc:checked ~ .accmenu {
  visibility: visible;
  height: 430px;
  transition: all 0.4s ease;
}

input#acc:checked ~ .accmenu > div {
  visibility: visible;
  transform: scaleY(1);
  transform-origin: top;
  transition: all 0.4s ease;
}

.gallery {
  width: 1320px;
  height: 600px;
  border-top: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallimg {
  position: relative;
  width: 1200px;
  height: 300px;
  display: flex;
  justify-content: right;
  overflow: hidden;
}

.gallimg > div {
  width: 300px;
  height: 300px;
  margin-right: 20px;
}

.gallimg > div > img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
}

.gallimg > p {
  position: absolute;
  top: 150px;
  left: 0;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
}

.gallimg > span {
  position: absolute;
  top: 150px;
  right: 0;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
}

.footer {
  width: 1320px;
  height: 200px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footb {
  width: 1200px;
  height: 150px;
}

.footlg {
  width: 100%;
  line-height: 50px;
  font-size: 15px;
}

.footlg > a > h1 {
  cursor: pointer;
}

.footlist {
  width: 100%;
  line-height: 25px;
}

.copy {
  width: 100%;
  text-align: right;
}