/* Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-style: normal;
}

li {
    list-style: none;
    list-style-type: none;
    padding-left: 0;
}

li::marker {
    content: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

:root {
    --transition: .2s ease-out;
    --orange: #EA5514;
    --page_padding: 0 50px;
    --normal: 16px;
    --small: 14px;
}

/* 헤더 섹션 */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 1;
    background-color: white;
    padding: var(--page_padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 로고 */
.logo,
.logo a {
    width: 165px;
    display: flex;
}

.logo img {
    width: 100%;
    cursor: pointer;
}

/* 네비게이션 */
.menu {
    display: flex;
}

.menu > li {
    position: relative;
}

.menu > li > a {
    display: inline-block;
    height: 90px;
    align-content: center;
    padding: 0 40px;
    cursor: pointer;
    /* transition: var(--transition); */
    transition: 0.3s ease-out;
    font-size: 16px;
    font-weight: bold;
}

.menu > li > a:hover {
    color: var(--orange);
}

.submenu {
    position: absolute;
    width: 100%;
    background-color: white;
}

.submenu a {
    display: block;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    font-weight: 200;
    /* transition: var(--transition); */
}

.submenu a:hover {
    color: var(--orange);
}

/* 서브메뉴 박스 */
.sub_box {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    height: 250px;
    background-color: white;
    z-index: -1;
}

header:hover .menu > li > a {
    padding: 0 50px;
}

/* 헤더 옵션 메뉴 */
.header_option {
    display: flex;
    align-items: center;
}

.lang_btn {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    background-color: var(--orange);
    padding: 0 20px;
    cursor: pointer;
}

.lang_btn span {
    color: #eee;
    font-size: 14px;
}

.lang_list {
    position: absolute;
    top: 65px;
    width: 100px;
    padding: 0 20px;
    background-color: var(--orange);
    overflow: hidden;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
}

.lang_list li {
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.lang_list a {
    font-size: 14px;
    color: #eeeeeeb0;
    transition: var(--transition);
}

.lang_list a:hover {
    color: white;
}

.share, .menu_bar {
    position: relative;
    display: flex;
    margin-left: 30px;
}

.share_menu {
    position: absolute;
    top: 65px;
    right: 96.25px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}

.share_menu a {
    display: block;
    width: 42px;
    height: 42px;
    background-color: var(--orange);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.share_menu a > svg {
    font-size: 16px;
    fill: #eee;
}

.header_option svg {
    font-size: 30px;
    cursor: pointer;
    transition: var(--transition);
}

.share svg:hover,
.menu_bar svg:hover {
    fill: var(--orange);
}

/* 토글 이벤트 */
.show_lang {
    visibility: visible;
    opacity: 1;
    margin-top: 10px;
    transition: var(--transition);
}

/* 비주얼 섹션 */
.visual {
    margin-top: 90px;
    width: 100%;
    height: 500px;
    background-color: gray;
}