/* Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
    color: #262626;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-style: normal;
}

li {
    list-style: none;
    list-style-type: none;
    padding-left: 0;
}

li::marker {
    content: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

:root {
    --transition: .4s ease-out;
    --orange: #EA5514;
    --page_padding: 0 50px;
    --normal: 16px;
    --small: 14px;
}

/* 헤더 섹션 */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 2;
    background-color: white;
    padding: var(--page_padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 로고 */
.logo,
.logo a {
    width: 165px;
    display: flex;
}

.logo img {
    width: 100%;
    cursor: pointer;
}

/* 네비게이션 */
.menu {
    display: flex;
}

.menu > li {
    position: relative;
}

.menu > li > a {
    display: inline-block;
    height: 90px;
    align-content: center;
    padding: 0 30px;
    cursor: pointer;
    /* transition: var(--transition); */
    transition: 0.5s ease;
    font-size: 16px;
    font-weight: bold;
}

.menu > li > a:hover {
    color: var(--orange);
}

.submenu {
    position: absolute;
    width: 100%;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}

.submenu a {
    display: block;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    font-weight: 200;
    transition: .2s ease-out;
}

.submenu a:hover {
    color: var(--orange);
}

/* 서브메뉴 박스 */
.sub_box {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    height: 0;
    background-color: white;
    z-index: -1;
    transition: var(--transition);
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}

header:hover .sub_box {
    height: 250px;
    visibility: visible;
    opacity: 1;
}

header:hover .submenu {
    visibility: visible;
    opacity: 1;
    transition: var(--transition);
    transition-delay: .15s;
}

header:hover .menu > li > a {
    padding: 0 50px;
}

/* 헤더 옵션 메뉴 */
.header_option {
    display: flex;
    align-items: center;
}

.lang_btn {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    background-color: var(--orange);
    padding: 0 20px;
    cursor: pointer;
}

.lang_btn span {
    color: #eee;
    font-size: 14px;
}

.lang_list {
    position: absolute;
    top: 65px;
    width: 100px;
    padding: 0 20px;
    background-color: var(--orange);
    overflow: hidden;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
}

.lang_list li {
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.lang_list a {
    font-size: 14px;
    color: #eeeeeeb0;
    transition: var(--transition);
}

.lang_list a:hover {
    color: white;
}

.share, .menu_bar {
    position: relative;
    display: flex;
    margin-left: 30px;
}

.share_menu {
    position: absolute;
    top: 65px;
    right: 96.25px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}

.share_menu a {
    display: block;
    width: 42px;
    height: 42px;
    background-color: var(--orange);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.share_menu a > svg {
    font-size: 16px;
    fill: #eee;
}

.header_option svg {
    font-size: 30px;
    cursor: pointer;
    transition: var(--transition);
}

.share svg:hover,
.menu_bar svg:hover {
    fill: var(--orange);
}

/* 토글 이벤트 */
.show_lang {
    visibility: visible;
    opacity: 1;
    margin-top: 10px;
    transition: var(--transition);
}




/* 사이트 맵 */
.site_map {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--orange);
    z-index: 2;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease;
}

.show_site {
    visibility: visible;
    opacity: 1;
}

.map_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1100px;
}

.site_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(195, 195, 195);
}

.site_top h1 {
    color: #eee;
    font-size: 45px;
    font-weight: bold;
}

.site_top svg {
    fill: #eee;
    font-size: 40px;
    cursor: pointer;
    transition: var(--transition);
}

.site_menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.site_menu > li {
    position: relative;
    margin: 40px 0;
}

.site_menu > li > a {
    color: #eee;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.site_list {
    margin-top: 40px;
}

.site_list > li {
    margin-bottom: 20px;
}

.site_list a {
    color: #eee;
    font-size: var(--normal);
}

/* 호버 효과 */
.site_menu a {
    position: relative;
}

.site_menu a::before {
    position: absolute;
    content: "";
    top: -1px;
    left: -8px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #eee;
    transition: var(--transition);
    visibility: hidden;
    opacity: 0;
}

.site_menu a:hover::before {
    visibility: visible;
    opacity: 1;
}




/* 비주얼 섹션 */
.visual {
    position: relative;
    padding-top: 90px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.visual::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.first_slide, .second_slide {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: end;
    transition: 1s ease-out;
}

.visual img {
    width: 100%;
}

.slide_text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.slide_text p {
    display: flex;
    overflow: hidden;
}

.slide_text span {
    color: #eee;
    font-weight: bold;
}

.sub_title {
    font-size: 32px;
}

.main_title {
    display: block;
    margin-top: 20px;
    font-size: 80px;
}

.slide_text a {
    display: inline-block;
    width: 150px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: var(--orange);
    padding: 14px 25px;
    border-radius: 25px;
    color: #eee;
    font-size: var(--small);
    font-weight: 500;
    margin-top: 30px;
    transition: .2s ease-out;
}

.slide_text a:hover {
    background-color: black;
}

.slide_text svg {
    fill: #eee;
}

/* 이벤트리스너 */
.hide_slide {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}

.zoom {
    transition: 2s ease-out;
    transform: scale(1.3);
}

/* 스크롤 다운 */
.scr_down {
    position: absolute;
    top: 40%;
    right: 0;
    display: flex;
    align-items: center;
    transform: rotate(90deg) translateX(50%);
    z-index: 1;
}

.scr_down span {
    font-size: 12px;
    color: #eeeeeee0;
    margin-right: 20px;
}

.mouse {
    position: relative;
    width: 40px;
    height: 25px;
    background-color: none;
    border: 2px solid #eeeeeee0;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

.mouse div {
    width: 8px;
    height: 3px;
    background-color: #eeeeeee0;
    border-radius: 25px;
    transition: var(--transition);
    animation: wheel infinite ease-in-out 2s;
}

@keyframes wheel {
    from, to {
        margin-left: 0;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        margin-left: 20px;
        opacity: 1;
    }

    90% {
        margin-left: 20px;
    }
}

/* 슬라이드 버튼 */
.sld_btn_menu {
    position: absolute;
    top: 40%;
    left: 55px;
    z-index: 1;
    display: block;
}

.current_page {
    color: #eee;
    font-size: var(--small);
    font-weight: bold;
    text-align: center;
}

.gauge {
    margin-top: 15px;
    width: 20px;
    height: 120px;
    display: flex;
    justify-content: center;
}

.g_bar {
    position: relative;
    width: 2px;
    height: 100%;
    background-color: #eeeeee80;
}

.pause_btn {
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-top: 15px;
}

.pause_btn svg {
    fill: #eee;
    width: 10px;
}

.prev_btn, .next_btn {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    cursor: pointer;
}

.prev_btn svg, .next_btn svg {
    fill: #eeeeee80;
}