* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'aktiv-grotesk-extended';
}

@font-face {
    font-family: 'aktiv-grotesk-extended';
    src: url(https://use.typekit.net/af/ca393a/00000000000000007753ca57/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3);
};

li {
    list-style: none;
    list-style-type: none;
    padding-left: 0;
}

li::marker {
    content: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

:root {
    --normal-size: 16px;
    --transition: 0.3s ease-in-out;
}



/* 로드 시 배경 */
.loading_wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #070a0d;
    z-index: -2;
    opacity: 0;
    visibility: hidden;
    animation: load linear 4s;
}

@keyframes load {
    from, 80% {
        z-index: 5;
        visibility: visible;
        opacity: 1;
    }
    to {
        z-index: -2;
        visibility: hidden;
        opacity: 0;
        transition: var(--transition);
    }
}

.first {
    position: absolute;
    font-size: 16px;
    color: #E3DAC5;
    z-index: 6;
    cursor: default;
}

.redefine {
    top: 46%;
    left: 45.5%;
    animation: redefine ease-in-out 4s;
}

@keyframes redefine {
    from, 20% {
        left: -200px;
        transform: translate(-100%, -100%);
    }
    35%, 80% {
        left: 45.5%;
        transform: translate(-100%, -100%);
    }
    100% {
        transform: translate(0, 0);
    }
}

.the {
    top: 48%;
    right: 48%;
    animation: the ease-in-out 4s;
}

@keyframes the {
    from, 30% {
        right: -200px;
        transform: translateX(100%);
    }
    45%, 80% {
        right: 48%;
        transform: translateX(100%);
    }
    100% {
        transform: translate(0, 0);
    }
}

.norm {
    top: 50%;
    left: 47.25%;
    animation: norm ease-in-out 4s;
}

@keyframes norm {
    from, 40% {
        left: -200px;
        transform: translate(-100%, 100%);
    }
    55%, 80% {
        left: 45.5%;
        transform: translate(-100%, 100%);
    }
    100% {
        transform: translate(0, 0);
    }
}



/* 헤더 섹션 */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 40px;
    transition: var(--transition);
}

.hide_header {
    visibility: hidden;
    opacity: 0;
    height: 60px;
}

.header_left {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.header_square {
    width: 35px;
    height: 15px;
    background-color: #E3DAC5;
}

/* 로고 */
.h_logo,
.h_logo a,
.f_logo,
.f_logo a {
    display: flex;
    height: 12px;
    cursor: pointer;
}

.h_logo svg {
    display: flex;
    color: #E3DAC5;
}

/* 네비게이션 */
.menu {
    display: flex;
}

.menu > li {
    position: relative;
    margin-left: 30px;
}

.link {
    position: relative;
    color: #E3DAC5;
    font-size: var(--normal-size);
    display: inline-block;
    cursor: pointer;
}

.link_num {
    color: #E3DAC5;
    font-size: var(--normal-size);
    cursor: pointer;
}

.submenu {
    position: absolute;
    padding-top: 10px;
    overflow: hidden;
    transition: var(--transition);
    transform-origin: top;
    transform: scale(0);
}

.submenu > li > a {
    color: #E3DAC5;
    font-size: var(--normal-size);
    cursor: pointer;
}

.menu > li:hover .submenu {
    transform: scale(1);
}



/* 메인 비디오 섹션 */
.visual {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    overflow: hidden;
}

.visual video {
    width: 100%;
}

.visual_text {
    position: fixed;
    bottom: 30px;
    right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 78vw;
}

.visual_text p {
    color: #E3DAC5;
    font-size: var(--normal-size);
}

.visual_text p:nth-of-type(2) {
    font-size: 14px;
}



/* 더보기 박스 */
.more_box {
    position: fixed;
    top: 140px;
    left: 40px;
    height: 60px;
    overflow: hidden;
    border: 1px solid #6084b7a0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    z-index: 2;
    cursor: pointer;
    transition: var(--transition);
    animation: more ease-in-out 8s;
}

@keyframes more {
    from, 50% {
        visibility: hidden;
        opacity: 0;
        border: 1px solid rgba(0, 0, 0, 0);
    }
    75% {
        visibility: visible;
        opacity: 1;
    }

    60%, 70% {
        border: 1px solid rgba(0, 0, 0, 0);
    }
    
    to {
        visibility: visible;
        opacity: 1;
        border-color: #6084b7a0;
    }
}

.hide_more {
    visibility: hidden;
    opacity: 0;
    margin-top: -20px;
}

.more_box > img {
    width: 42px;
    height: 42px;
}

.more_text {
    overflow: hidden;
    /* transition: var(--transition); */
    transition: 0.4s ease;
    width: 0;
    animation: text ease-out 8s;
}

@keyframes text {
    from, 75%, to {
        width: 0;
        margin-left: 0;
    }

    80%, 95% {
        width: 286px;
        margin-left: 20px;
    }
}

.more_text span {
    display: block;
    color: #E3DAC5;
    text-transform: uppercase;
    font-size: var(--normal-size);
    width: 286px;
}

.more_icon {
    width: 42px;
    height: 42px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.more_icon svg {
    width: 25px;
    color: #e3dac5a0;
}

.more_box:hover .more_text {
    width: 286px;
    margin-left: 20px;
}



/* 메인 섹션 비디오 박스 */
.scr_ani_box {
    position: absolute;
    bottom: 30px;
    left: 190px;
    width: 300px;
    height: 180px;
    overflow: hidden;
    padding: 10px;
    /* border: 1px solid #6084b7a0; */
    border: 1px solid rgba(96, 132, 183, 0.63);
    transition: 0.2s ease-out;
    transform: translateX(-50%);
    z-index: 1;
}

.play_line {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 25px;
    overflow: hidden;
    background-color: #070a0d;
    z-index: 1;
}

.play_line > div {
    width: 800px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    animation: play infinite linear forwards 6s;
    cursor: default;
}

.play_line > div p {
    color: #6084b7;
    font-size: 14px;
    width: 160px;
}

@keyframes play {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-40%);
    }
}

.play_line > div:hover {
    animation-play-state: paused;
}

.ani_video {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 20, 33);
}

.ani_video svg {
    position: absolute;
    width: 70%;
    color: #6084b7;
}

.showreel {
    position: absolute;
    opacity: 0;
}

.move_cursor {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 4px;
    color: #E3DAC5;
    transition: 0.2s ease-out;
}

.board {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}




/* 페이지 메인 섹션 */
main {
    position: relative;
    width: 100%;
    height: 1000px;
    background-color: #070a0d;
    overflow: hidden;
}

.list_box {
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease-out;
}

.mount {
    top: 200px;
    right: 40px;
    width: 250px;
    height: 350px;
    transform: translateX(100%);
}

.mount video {
    width: 270%;
}

.water {
    bottom: 220px;
    left: 40px;
    width: 380px;
    height: 240px;
    transform: translateX(-100%);
}

.water video {
    width: 110%;
}

.health {
    bottom: 60px;
    right: 40px;
    width: 300px;
    height: 300px;
    transform: translateX(100%);
}

.health video {
    width: 180%;
}



/* 푸터 섹션 */
footer {
    width: 100%;
    overflow: hidden;
    background-color: #070a0d;
    padding: 0 40px;
    height: 400px;
}

/* 푸터 메뉴 */
.f_menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.f_menu > li {
    position: relative;
}

.not_only {
    width: 22vw;
}

.f_submenu {
    position: absolute;
    margin-top: 30px;
}

.f_submenu > li > a {
    color: #e3dac5a0;
    margin-bottom: 5px;
}

.f_menu > li:nth-last-of-type(1) a {
    color: #E3DAC5;
}

.f_submenu > li > p {
    margin-bottom: 30px;
    color: #e3dac5a0;
}

/* 푸터 사이트 */
.site {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 180px;
    padding: 0 40px;
    background-color: #070a0d;
    color: #6084b7;
}

.site a {
    display: block;
    font-size: 12px;
    color: #6084b7;
}

.site_info {
    margin-top: 30px;
    display: flex;
}

.site_info > div {
    margin-right: 200px;
}

.address {
    margin-bottom: 30px;
}

.f {
    margin-bottom: 5px ;
}

.other {
    position: absolute;
    bottom: 20px;
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.other > li {
    margin-left: 30px;
}